<div class="col-lg-6 mx-auto">
    <br>    
    <div class="card">
        <div class="card-body">
            <form class="form-registro">
                <h1 class="titulo">Actualizar mis datos</h1>
                <br>
                <div class="form-group">
                    <input type="text" [(ngModel)]="edit.nombre" name="nombre" id="" class="form-control input-sm mr-1"
                        placeholder="Nombres" autocomplete="off">
        
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="edit.correo" readonly name="correo" id="" class="form-control"
                        placeholder="Correo Electronico:">
                </div>
                <div class="form-group">
                    <input type="password" name="contra" id="" class="form-control" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="edit.telefono" name="telefono" id="" class="form-control"
                        placeholder="Telefono">
                </div>
                <button type="submit" (click)="actualizarcliente()" class="btn btn-reg btn-lg btn-block">Actualizar</button>
            </form>
        </div>
    </div>
    
</div>