<div class="card">
    <div class="card-body">
        <h6 class="text-center">
            Horarios
        </h6>
        <table class="table table-lg table-hover">
            <tbody>
                <tr>
                    <th></th>
                    <th>Dia</th>              
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Empleado</th>
                </tr>
                
                <tr *ngFor="let horario of horario_empleados">
                    <td></td>
                    <td>{{horario.dia}}</td>              
                    <td>{{horario.hora_inicio}}</td>
                    <td>{{horario.hora_fin}}</td>
                    <td>{{horario.empleado_id}}</td>
                    
                   
                </tr>
   
            </tbody>
        </table>
    </div>
</div>
