
<div class="card">
    <div class="card-body">
        <h6 class="text-center">
            Lista de empleados
        </h6>
        <table class="table table-lg table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>              
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Categoria</th>
                    
                </tr>
                <tr *ngFor="let empleado of lista_empleados">
                   
                    <td>{{empleado.id}}</td>              
                    <td>{{empleado.nombres}}</td>
                    <td>{{empleado.apellidos}}</td>
                    <td>{{empleado.correo}}</td>
                    <td>{{empleado.telefono}}</td>
                    <td>{{empleado.categoria}}</td>        
                    <td>
                        <a class="btn btn-secondary text-white" data-toggle="modal" routerLink="/administrador/{{empleado.id}}" >
                            <i class="far fa-edit">EDIT</i>
                        </a>
                        <a class="btn btn-danger text-white"  data-toggle="modal" (click)="delete(empleado.id)">
                            <i class="fas fa-trash-alt">DELETE</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
